.root {
    color: #000000;


}

.root ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem
}

.root li {
    padding: .6rem;
    border-radius: 50%;
    background-color: #ffa218;
    cursor: pointer;
}

.root li:hover {
    color: #fff;
    background-color: #fc8507;
}