.about {
  padding: 1rem 0;
  background-color: #fff;
  &__title {
    margin-bottom: 1rem;
  }
}
.contact {
  &__technologies {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    & p {
      margin-bottom: 1rem;
    }
  }
  &__link:hover {
    color: red;
  }
  &__my-contact {
    & p:not(:last-child) {
      margin-bottom: 0.6rem;
    }
    &__my-contact-link {
      & p:not(:last-child) {
        margin-bottom: 0.6rem;
        & a {
          transition: color 0.2s ease-in-out;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}

.my-contact {
  & a {
    display: inline-flex;
    align-items: center;
  }
}
