.goods-table {
    /* display: none; */
}


.goods-table {
    /* display: block;
    position: absolute;
    top: 121px;
    left: 25%;
    background-color: #fff;
    border: 1px solid #fc8507;
    border-radius: .3rem;
    padding: clamp(3px, 1vw, 10px); */
}



.goods-table__full-goods-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.goods-table__full-goods {
    font-size: .9rem;

}

.goods-table__full-goods-close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 1.5rem;
    padding-left: 7px;
    padding-right: 7px;

}

.goods-table__item {
    margin-bottom: 0.6rem;
}

.cart__fullPrice {
    margin-bottom: 0.6rem;
}

.cart {}


.cart-header {
    text-align: center;

}

.cart__one-product>table {
    /* border-spacing: clamp(4px, 1vw, 15px);
    border: 1px solid #fc8507;
    margin-bottom: 0.6rem;
    border-radius: 0.3rem; */

}



.cart__one-product>table>tbody>tr>td {
    padding: 0 .7rem;

}


.cart__one-product>table>tbody>tr>td:not(:last-child) {
    /* border-right: 1px solid #fc8507; */

}




.cart__goods-list {}

.cart__goods {}

.cart__goods-name {}

.cart__goods-title {}

.cart__image-table-td {
    max-width: 12rem;
}

.cart__goods-price-one {}

.cart__goods-quantity {}

.cart__goods-price-all {}



.cart__btn-block {
    margin-bottom: 0.6rem;
}

.cart__btn-block:not(:last-child) {}

.cart__delete-one-position {
    margin-right: 0.6rem;
}

.delete-one-position {}

.btn {}

.cart__delete-quantity {}

.delete-quantity {}

@media (min-width:320px) {
    .goods-table {
        display: block;
        position: absolute;
        top: 183px;
        left: 3%;
        width: 94%;
        height: 90%;
        overflow-x: scroll;
        background-color: #fff;
        border: 1px solid #fc8507;
        border-radius: .3rem;
        padding: clamp(3px, 1vw, 10px);
    }

    .delete-one-position, .delete-quantity {
        max-width: 7rem;
    }

    .cart__one-product>table>tbody>tr>td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cart__one-product>table {
        padding: .4rem;
    }



    .cart__goods-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 144px;
    }

    .cart__goods-list>td:not(:last-child) {
        margin-bottom: 1rem;

    }

    .cart__goods-list>td:first-child {
        /* margin-bottom: 6.1rem; */
        margin-bottom: auto;
    }

    .cart__goods-name {
        margin-bottom: 1rem;
    }

    .cart__goods-name>img {
        max-height: 110px;
        width: 100%;
    }

    .cart__goods-title {
        margin-bottom: 1rem;

    }

    .cart__goods-price-one {
        margin-bottom: 2rem;

    }

    .cart__goods-quantity {
        margin-bottom: 1rem;

    }

    .cart__goods-price-all {
        /* margin-bottom: 1rem; */

    }

    .cart__one-product>table {
        display: flex;
        flex-direction: column;
        border-spacing: clamp(4px, 1vw, 15px);
        border: 1px solid #fc8507;
        margin-bottom: 0.6rem;
        border-radius: 0.3rem;

    }

    .cart__one-product>table>tbody {
        display: flex;


    }

    .cart__btn-block {
        text-align: center;
    }

    .goods-wraper {
        border-bottom: 1px solid #fc8507;
        text-align: center;
        padding-bottom: 1rem;
    }


    .goods-block {

        padding-bottom: 1rem;

    }
}

@media (min-width:420px) {
    .goods-table {
        left: 5%;
        width: 90%;

    }

    .delete-one-position, .delete-quantity {
        max-width: 100%;
    }

}

@media (min-width:490px) {
    .goods-table {
        left: 8%;
        width: 85%;

    }

}

@media (min-width:550px) {
    .goods-table {
        left: 10%;
        width: 80%;

    }

}

@media (min-width:600px) {
    .goods-table {
        left: 13%;
        width: 75%;

    }

}

@media (min-width:769px) {
    .goods-table {
        left: 20%;
        width: 60%;

    }

}

@media (min-width:1000px) {
    .goods-table {
        left: 25%;
        width: 50%;

    }

}