.goods-table {
    display: none;
}


.goods-table.activ {
    /* display: block;
    position: absolute;
    top: 121px;
    left: 25%;
    background-color: #fff;
    border: 1px solid #fc8507;
    border-radius: .3rem;
    padding: clamp(3px, 1vw, 10px); */
}



.goods-table__full-goods-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.goods-table__full-goods {
    font-size: .9rem;

}

.goods-table__full-goods-close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 1.5rem;
    padding-left: 7px;
    padding-right: 7px;
    /* This will render the 'X' */

}

.goods-table__item {
    margin-bottom: 0.6rem;
}

.cart__fullPrice {
    margin-bottom: 0.6rem;
}

.cart {}


.cart-header {
    text-align: center;

}

.cart__one-product>table {
    border-spacing: clamp(4px, 1vw, 15px);
    border: 1px solid #fc8507;
    margin-bottom: 0.6rem;
    border-radius: 0.3rem;

}



.cart__one-product>table>tbody>tr>td {
    padding: 0 .7rem;

}


.cart__one-product>table>tbody>tr>td:not(:last-child) {
    border-right: 1px solid #fc8507;

}




.cart__goods-list {}

.cart__goods {}

.cart__goods-name {}

.cart__goods-title {}

.cart__image-table-td {
    max-width: 12rem;
}

.cart__goods-price-one {}

.cart__goods-quantity {}

.cart__goods-price-all {}



.cart__btn-block {
    margin-bottom: 0.6rem;
}

.cart__btn-block:not(:last-child) {}

.cart__delete-one-position {
    margin-right: 0.6rem;
}

.delete-one-position {}

.btn {}

.cart__delete-quantity {}

.delete-quantity {}

@media (min-width:320px) {}