.goods-field {
  grid-template-columns: 1fr 1fr 1fr;
}

.goods-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 1vw, 12px);
  padding: clamp(10px, 1vw, 12px);
}

.goods-block__click-bate {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  text-align: center;
  font-size: 0.7rem;
}

.goods-block__title-coast > p {
  margin-bottom: clamp(10px, 1vw, 12px);
  text-align: center;
}

/* @media============================================= */

@media (min-width: 420px) {
  .goods-field {
    display: grid;
    grid-template-columns: 1fr;

    align-items: end;
    justify-content: center;
    justify-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;

    height: 100%;
  }
  .goods-wraper {
    // max-width: 20rem;
  }
}

@media (min-width: 554px) {
  .goods-field {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .goods-field {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
