:root {
    box-sizing: border-box;
    /* font-size: calc(1vw + 0.6em); */
    /* font-size: clamp(20px, 2vw, 32px); */

    --base-font: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    /* --font-size: calc(1vw + 0.6em); */
    --font-size: clamp(16px, 1vw, 22px);
    --max-width: 1100px;
    --main-color: #9BC53D;
    --bg-color-header: #ffd586;
    --secondary-color: #EBFFFA;
    --btn-send-com: #cdde9d;
    --form-inp-email: #ffffff;
    --form-border-color: #727272;

}

.container {

    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 .6rem;
}

.btn {
    background-color: var(--btn-send-com);
    border-radius: 0.4rem;

    padding: clamp(0.4rem, 1vw, 1rem);
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-send-com);
    box-shadow: -3px -3px 3px #888;
    transform: translate(2px, 2px);
}

.btn:active {
    background-color: var(--btn-send-com);
    box-shadow: none;
    transform: translate(-2px, -2px);
}

button.cart-btn {
    background: transparent no-repeat center url('../assets/image/icon/shopping-cart.svg');
    height: 34px;
    padding: 0.6rem;
    border-radius: 5px;
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    background-size: 1.5rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
}



button.cart-btn:hover {
    opacity: 1;
}