.header {
    /* background-image: url('../../image/bg/bg-header.jpg'); */
    background: radial-gradient(80% 80% at 20% 20%, #e3f9c7 40%, rgba(227, 249, 199, 0) 100%), radial-gradient(60% 60% at 100% 100%, #ffe6e6 30%, rgba(255, 230, 230, 0) 100%), #fff1e5;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: clamp(7px, 4vw, 15px);
    margin-bottom: clamp(7px, 1vw, 30px);
}


.header__logo {
    font-size: 2.5rem;
    font-family: 'SuperThing NBP', sans-serif;
    border-radius: .1em;
    padding: .15em;
    background-color: black;
    text-align: left;
    color: white;
    width: 4rem;
    height: 3.5rem;
    /* margin-right: calc(1vw + 0.1em); */
    margin-right: clamp(7px, 1vw, 20px);
}

.header__nav {}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.menu__list-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu__list-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.menu__item:not(:last-child) {
    margin-right: calc(1vw + 0.1em);
}


.menu__link {
    position: relative;
    padding: clamp(7px, 1vw, 10px);
    transition: color .3s ease-in-out;
    color: #000000;
}

.menu__link:hover {
    color: #a9a5a5;
}

.menu__item>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #a9a5a5;
    bottom: 0;
    left: 0;

    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.menu__item>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu__btn {}

@media(max-width: 500px) {
    .menu__list {
        justify-content: center;

    }

    .menu__item {
        margin-bottom: calc(1vw + 0.3rem);
    }
}






.list-right__item {}

.list-right__item:not(:last-child) {
    margin-right: calc(1vw + 0.1em);
}

.list-right__link {}