.footer {
  background-color: hsla(196, 83%, 84%, 1);

  width: 100%;
  padding: 50px 10px;

  &__wraper {
  }
  &__logo {
  }
  &__link {
  }
  &__contacts {
  }
  &__contacts {
  }
  &__about-us {
  }
  &__link-icon {
  }
  &__icon {
  }
  &__copy-text {
  }
}
