.root {
  position: relative;
  color: #000000;
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 5px;
  padding-bottom: 2rem;

  p {
    span:first-child {
      padding-bottom: 2.2rem;
      margin-right: 0.5rem;
    }
    span:last-child {
      max-width: 10rem;
      cursor: pointer;
    }
  }
  p::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 5px;
    border-color: transparent transparent rgb(57, 57, 57) transparent;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    height: 0px;
    width: 0px;
  }

  div {
    position: absolute;
    top: 1.6rem;
    right: 2.1rem;

    li {
      cursor: pointer;
    }
    li:not(:last-child) {
      margin-bottom: 0.6rem;
    }
    li:hover {
      color: #dd4949;
      cursor: pointer;
    }
  }
}

@media (min-width: 770px) {
  .root {
    div {
      right: 1.6rem;
    }
  }
}
